#brands {
    background-color: var(--red-color);
    padding-top: 300px;
}

#brands_scrollbar {
    display: flex;
    flex-flow: row nowrap;
    /* Permet "d'afficher" une scrollbar */
    overflow-x: auto;
    padding: 26px;
    cursor: grab;
}

/* Affiche une main fermée lorsque la scrollbar est sélectionnée */
#brands_scrollbar:active {
    cursor: grabbing;
}

/* Empêche l'affichage de la scrollbar par défaut */
#brands_scrollbar::-webkit-scrollbar {
    display: none;
}

#brands_scrollbar a {
    margin-right: 26px;
}

#brands_scrollbar img {
    transition: 0.3s transform ease;
}

#brands_scrollbar img:hover {
    transform: scale(1.1);
    transition: 0.3s transform ease;
}