/* Permet d'afficher le champ par dessus la prochaine partie */
#enmodetips_field {
    position: relative;
    margin: 0 var(--margin) -200px var(--margin);
    z-index: 10;
}

#enmodetips_fieldset {
    background-color: var(--yellow-color);
    border: none;
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#enmodetips_fieldset legend {
    color: white;
    -webkit-text-stroke: 3px black;
    font-size: 58px;
    font-weight: 900;
    font-style: italic;
    text-align: left;
    text-shadow: black 0 0 5px;
    margin-left: 58px;
}

#enmodetips_fieldset h3 {
    text-align: center;
    margin-bottom: 30px;
}

#enmodetips_fieldset_email {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 30px 0;
}

#enmodetips_fieldset_email input {
    background-color: var(--yellow-color);
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
}

#enmodetips_fieldset_email button {
    width: 50px;
    height: 50px;
    position: relative;
    top: 1px;
    left: -75px;
}

/* Animation de la flèche de submit */
#enmodetips_fieldset_email button img {
    width: 24px;
    height: 23px;
    transition: translate 0.3s ease-out;
}

#enmodetips_fieldset_email button:hover img {
    translate: 16px;
    transition: translate 0.3s ease-out;
}

#enmodetips_fieldset p {
    text-align: center;
    margin: 0 20% 71px 20%;
}