/* Conteneur du footer */
#footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 100px var(--margin) 0 var(--margin);
    font-family: 'Albert Sans', 'Arial', sans-serif;
    background-color: white;
}

/* Contenu du footer */
#footer_content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* Titres des catégories du footer */
#footer_content strong {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 1rem;
}

/* Logo dans le footer */
#footer_logo {
    width: 200px;
    margin-bottom: 100px;
}

/* Colonnes dans le footer */
.footer_columns {
    display: flex;
    flex-flow: column nowrap;
}

/* Catégories du footer */
.footer_categories {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 2rem;
    line-height: 1.75rem;
}

/* Contacts du footer */
.footer_contact {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.2rem 0.2rem 0.2rem 0.6rem;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    font-size: 1em;
    margin-bottom: 1rem;
}

/* Icônes des contacts (mail et téléphone) */
.footer_contact img {
    width: 1.25rem;
    height: 1.25rem;
}

/* Contact par téléphone */
#footer_phone {
    border-color: lightgrey;
}

/* Contact par mail */
#footer_mail {
    border-color: black;
}

/* Champ d'email de la newsletter */
#footer_email {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 2rem 0;
}

/* Conteneur des liens vers les réseaux sociaux */
#footer_social_networks {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: left;
    flex-shrink: 0;
    margin-bottom: 4rem;
}

/* Texte dans les liens vers les RS */
#footer_social_networks p {
    margin: 0 0 0 2rem;
    font-size: 1.5em;
}

/* Liens vers les RS */
#footer_social_networks a {
    margin-right: 0.5rem;
}

/* Icônes des liens vers les RS */
#footer_social_networks a img {
    width: 2rem;
    height: 2rem;
    transition: 0.3s ease translate;
}

/* Animation des icônes lors du survol des liens */
#footer_social_networks a:hover img {
    translate: 0 -0.5rem;
    transition: 0.3s ease translate;
}

/* Mentions légales & CGU */
#footer_legals {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}