@import url("https://use.typekit.net/tcb2lfl.css"); /* 'Brush Script MT' font */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /* 'Albert Sans' font */

html {
    --red-color : #ec1c24;
    --yellow-color : #f8df00;
    --yellow2-color : #f4e500;
    --margin: 15vw;
}

body {
    margin: 0;
}

.bold-text {
    font-weight: bold;
}

.red-text {
    color: var(--red-color);
}

strong {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 16px;
}

em {
    font-weight: bolder ;
    font-style: italic;
    font-size: 28px;
}

a {
    color: black;
    text-decoration: none;
}

input[type=email] {
    font-size: 20px;
    font-family: 'Albert Sans', Arial, sans-serif;
    color: black;
    font-weight: 500;
    width: 20vw;
    height: 75px;
    border: 4px solid black;
    border-radius: 90px;
    padding: 0 0 0 42px;
}

input[type=email]::placeholder {
    font-family: 'Albert Sans', Arial, sans-serif;
    color: black;
    font-weight: 500;
}

button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Albert Sans', Arial, sans-serif;
    font-weight: bold;
}