@import url("https://use.typekit.net/tcb2lfl.css"); /* 'Brush Script MT' font */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /* 'Albert Sans' font */

html {
    --red-color : #ec1c24;
    --yellow-color : #f8df00;
    --yellow2-color : #f4e500;
    --margin : 15vw;
}

body {
    font-family: 'Albert Sans', Arial, sans-serif;
    margin: 0;
}

h2 {
    font-family: 'Albert Sans', Arial, sans-serif;
    font-size: 70px;
    letter-spacing: 0;
    line-height: 60px;
    color: white;
}

h3 {
    font-family: 'Albert Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 60px;
    color: black;
}

button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Albert Sans', Arial, sans-serif;
    font-weight: bold;
}

.button {
    width: 324px;
    height: 48px;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
}

.card {
    width: 211px;
    height: 211px;
    border: 5px solid white;
    border-radius: 18px;
    font-size: 22px;
}

.button-animation {
    transform: scale(1);
    transition: 0.3s all;
}

.button-animation:hover {
    transform: scale(1.037);
    transition: 0.3s all;
}

.card-animation {
    transition: 0.3s all;
    translate: 0 0;
}

.card-animation:hover {
    transition: 0.3s all;
    translate: 0 -10px;
}

.whitebg-redfont {
    color: var(--red-color);
    background-color: white;
}

.outline-title {
    color: transparent;
    -webkit-text-stroke: 3px white;
}

.bold-text {
    font-weight: bold;
}

input[type=email] {
    font-size: 20px;
    font-family: 'Albert Sans', Arial, sans-serif;
    color: black;
    font-weight: 500;
    width: 420px;
    height: 75px;
    border: 4px solid black;
    border-radius: 90px;
    padding: 0 0 0 42px;
}

input[type=email]::placeholder {
    font-family: 'Albert Sans', Arial, sans-serif;
    color: black;
    font-weight: 500;
}

.red-text {
    color: var(--red-color);
}

strong {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 16px;
}

.hashtag-text {
    font-weight: bolder ;
    font-size: 28px;
}

.italic-text {
    font-style: italic;
}

a {
    color: black;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Albert Sans', Arial, sans-serif;
    font-weight: bold;
}