/* Conteneur principal */
#news {
    background-color: var(--red-color);
    padding: 30px 10vw 120px 10vw;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

/* Conteneur du titre et des contrôles */
#news_header {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 64px;
    align-items: center;
    justify-content: space-between;
    gap: 96px;
}

/* Titre */
#news_title {
    flex-shrink: 0;
}

/* Titre décalé */
#news_title h2 span{
    position: relative;
    left: 64px;
}

/* Contrôles de la section */
#news_controls {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: end;
}

/* Contrôles du slider */
#news_slider_controls {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    width: 100%;
    margin-top: 32px;
}

/* Flèches du slider */
#news_slider_controls div {
    display: flex;
    flex-shrink: 0;
}

/* Barre de progression du slider */
#news_slider_controls input[type="range"] {
    flex-grow: 1;
    margin-right: 16px;
}

/* Slider */
#news_slider {
    width: max-content;
    transition: 0.3s ease transform;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 38px;
}

/* Images dans les slides */
#news_slider img {
    position: relative;
}

/* Slides */
.news_slides {
    width: 385px;
    height: 632px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-end;
    border-radius: 16px;
    background-color: lightgrey;
    background-size: cover;
    font-size: 20px;
    padding: 21px 25px 21px 50px;
}

/* Titre des slides */
.news_slides strong {
    font-size: 32px;
    line-height: 40px;
    margin-right: 16px;
}

/* Tags des slides */
.news_slides_tags {
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    justify-content: space-between;
    gap: 16px;
}